<app-header></app-header>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>List of Airports</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>AirportCode</th>
            <th>AirportName</th>
            <th>AirportLocation</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let airport of airports | async">
            <td>{{airport.airportCode}}</td>
            <td>{{airport.airportName}}</td>
            <td>{{airport.airportLocation}}</td>
            <td><button class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal">Delete</button>
               <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body" style="margin: auto; margin-top: 5%;">
                     <h3>Are You sure you want to delete the Airport?</h3>
                     <div class="modalButtons">
                     <button type="button" class="btn btn-info" (click)="removeAirport(airport.airportCode)" data-dismiss="modal" style="margin-right: 10px;">Yes</button> 
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>  
                  </div>
                </div>
              </div>
              <button (click)="modifyAirport(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">update</button>
              <button (click)="airportDetails(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>