<app-header></app-header>
<div class="panel panel-primary">
    <div class="panel-heading" style="margin-left: 20%; margin-top: 20px;">
      <h2 >List of Airports</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>AirportCode</th>
            <th>AirportName</th>
            <th>AirportLocation</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let airport of airports | async">
            <td>{{airport.airportCode}}</td>
            <td>{{airport.airportName}}</td>
            <td>{{airport.airportLocation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>