<app-header></app-header>
<div class="heading">Book Your Flight</div>
<div [hidden]="submitted" style="width: 500px; margin: auto; margin-top: 80px;">
  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="d-flex justify-content-between" style="width: 500px">
      <div class="form-group">
        <label for="name">Source</label>
        <input type="text" class="form-control" id="sourceAirport" required [(ngModel)]="booking.sourceAirport"
          name="sourceAirport">
      </div>
      <div>
        <label for="name">Destination</label>
        <input type="text" class="form-control" id="destinationAirport" required
          [(ngModel)]="booking.destinationAirport" name="destinationAirport">
      </div>
    </div>
      <div class="table" style="width: 45%">
        <label for="name">Depart Date</label>
        <input type="date" class="form-control" id="departDate" required [(ngModel)]="booking.departDate"
          name="departDate">
        <div class="label" id="depart"></div>
      </div>
      <div class="form-group">
        <label for="name">No of Passengers</label>
        <input type="number" class="form-control" id="noOfPassengers" required [(ngModel)]="booking.noOfPassengers"
          name="noOfPassengers" [ngModelOptions]="{standalone: true}">
      </div>

      <button type="submit" class="btn btn-success">Book Now</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Your Booking is successfull!</h4>
</div>