<!-- BODY -->
<div class="wrapper">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <img src="assets/aeroplane.png" width="50" height="50" class="d-inline-block align-top" alt="">
      <h3 class="card-title">Welcome to Airline Ticket Reservation System</h3>
      <div class="description">Web based Air Ticket booking system for travelers and travel agencies that helps in booking and selling flight tickets efficiently.</div>
        <button type="button" class="btn btn-primary signUpBtn" style="border-radius: 5px;">
          <a href="login">LOG IN</a>
        </button>
        <button type="button" class="btn btn-primary signUpBtn" style="border-radius: 5px;">
          <a href="signup">SIGN UP</a>
        </button>
    </div>
  </div>
</div>